{% extends 'base.html.twig' %}

{% block body %}
<table class="table text-center">
<thead>
  <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
  </tr>
</thead>
<tbody>
{% for expenditure in expenditiures %}
    <tr>
      <td>{{expenditure.name}}</td>
      <td>{{expenditure.price}}zł</td>
      <td>{{expenditure.category}} {{expenditure.id}}</td>
      <td> <a class="btn btn-primary" href="/expenditure/{{expenditure.id}}/edit" role="button">Edit</a></td>
      <td> <a class="btn btn-danger" href="/expenditure/{{expenditure.id}}/delete" role="button">Delete</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}